@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 .nav-3d {
  background-color: #9370DB;
  color: white;
  padding: 5px 20px;
  border-radius: 12px;
  font-weight: 600;
  transition: all 0.2s ease;
  box-shadow: 0 6px grey;
  position: relative;
  font-family: sans-serif;
}


.nav-3d:hover {
  transform: translateY(4px);
  box-shadow: 0 2px grey;
}


.nav-3d:active {
  transform: translateY(6px);
  box-shadow: 0 0 grey;

}
